body {
  margin-top: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center; }

#container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

a, a:visited {
  text-decoration: none;
}

#rightnav a:visited {
  color: #083452;
}

header {
  background-image: url("header.jpg");
  background-size: cover;
  width: 100%;
  height: 475px;
  margin: 0 auto;
  text-align: center; }

#logo {
  vertical-align: middle;
  padding-right: 10px; }

#leftnav {
  float: left;
  margin-top: 20px;
  margin-left: 60px;
  font-family: 'Open Sans', sans-serif;
  color: main-color; }

.nav {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: main-color;
  text-transform: uppercase;
  margin-left: 10px; }

.nav:visited {
  text-decoration: none;
}

#rightnav {
  float: right;
  margin-top: 20px;
  margin-right: 60px;
  font-size: 18px; }

#pageheader {
  clear: both;
  font-size: 95px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-top: 110px;
  margin-bottom: -20px; }

#page-sub-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; }

#article-headline {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: main-color;
  line-height: 60px;
  margin-bottom: 5px; }

#article-subheader {
  display: flex;
  flex-direction: row;
  align-content: center; }

#subheader-avatar-pic {
  height: 40px;
  width: 40px;
  margin: 10px 5px 0px 5px; }

blockquote {
  border-left: 1px lightgray solid;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0px 10px 10px;
  font-size: 30px;
  margin: 0 auto;
  color: #106db3; }

.subheader-text {
  font-family: 'Open Sans', sans-serif; }

.author-name {
  padding: 5px 20px 5px 5px;
  top: 50%;
  font-size: 16px; }

.on {
  padding: 5px 10px 5px 0px;
  margin-top: 17px;
  font-size: 14px;
  top: 50%; }

.article-date {
  padding-top: 5px;
  margin-top: 17px;
  font-size: 14px; }

.article-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

#share-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;}

.icon {
  width: 40px;
  height: 40px;
  background-color: #5E686F;
  }

#share-icons a:hover .icon {
  background-color: #083452;
}

#share-icons a:hover .share-icons-text {
  background-color: #106db3;
}

.share {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  margin-right: 20px;
  width: 160px;
  background-color: #A3B3BF;
}

.share-icons-text {
  position: relative;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.share-icons-text p {
  top: 50%;
  color: white;
}

.icon img {
  margin: 11px 11px;
  height: 19px;
  width: 19px;
}

#left-main {
  width: 60%; }

#right-main {
  diplay: flex;
  flex-direction: column;
  width: 30%; }

#avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 14px;
  margin-right: 14px; }

#avatar-pic {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  padding-top: 50px; }

#avatar-name {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto; }

#social-media-links {
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
  margin: 0 auto;
  padding-bottom: 60px; }

  #social-media-links a {
    font-size: 14px;
  }

.social-media-divide {
  margin: 0 auto;
  display: inline-block; }

#ad-text {
  font-size: 12px;
  margin-top: 0;
  float: right; }

#sidebar-heading {
  font-family: 'Oswald', sans-serif;
  color: #106db3;
  font-size: 20px }

#sidebar-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

.sidebar-lower {
  margin-top: 50px;
}

#footerarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-top: 1px lightgray solid; }

#popular-posts {
  font-family: 'Oswald', sans-serif;
  color: main-color;
  margin: 0 auto;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 50px;
  padding-bottom: 50px; }

#footerphotos {
  display: flex;
  flex-direction: row;
  width: 100%; }

footer {
  background-color: #083452;
  color: white;
  color: lightgray;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

.footerimage {
  width: 25%;
  height: 309px;
 }

#tiylogo {
  width: 40px;
  height: 30px;
  margin-right: 5px; }

#logo-copyright {
  margin-right: 120px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }

/*.bottom-nav {
  display: flex;
  align-self: flex-end;
}*/

#navitems {
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
  padding-right: 20px; }

#navitems a {
  color: lightgray;
  font-size: 12px; }

.item {
  list-style-type: none;
  display: inline-block;
  color: lightgray; }

#footerimage1 {
  background:url("article-image-1.jpg");}

/*.filter {
  background-color: #106db3;
}

#footerimage1:hover {
  opacity: 1;
  }*/

#footerimage2 {
  background: url("article-image-2.jpg"); }

#footerimage3 {
  background: url("article-image-3.jpg"); }

#footerimage4 {
  background: url("article-image-4.jpg"); }

.footerimage {
  display: flex;
  align-items: flex-end;
}

.footer-image-text {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: white;
  padding-left: 10px; }
